body {
    background-color: #c8edff;
}

.app {
    margin: 10%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}